<div class="active-peer-site">
    <a href="{{url}}" target="_blank" title="{{url}}">
        <span class="active-count">{{peer_count}}</span>
        <div class="frame-wrapper">
            <img height="60" width="60" src='//g.etfv.co/{{url}}' />
        </div>
    </a>
</div>
